.jukebox-container {
    position: relative;
    width: 400px;
    height: 400px;
    perspective: 1000px; /* Da sensacion de profundidad */
    margin: auto;
}

.turntable {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* se asegura de que los hijos mantengan la posicion 3D */ 
}

.vinyl {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    opacity: 0;
    transform: rotateY(90deg) scale(0.9);
    transition: all 0.8s ease;
}

.vinyl.active{
    opacity: 1;
    transform: rotateY(0deg) scale(1);
    z-index: 10;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from { transform: rotateY(0deg) rotateZ(0deg);}
    to { transform: rotateY(0deg) rotateZ(360deg); }
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}